<div class="col-xs-6 pull-right">
    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
            <li id="datatable2_previous" class="paginate_button previous disabled" ng-show="page_no == 1">
                <a>Previous</a>
            </li>
            <li id="datatable2_previous" class="paginate_button previous" ng-hide="page_no == 1">
                <a ng-click="searchResults(page_length*(page_no-2), page_length*(page_no-1), page_no-1)">Previous</a>
            </li>
            <!--First Button-->
            <li class="pagination_button" ng-class="{'active': page_no == 1}">
                <a ng-click="searchResults(0,page_length, 1)">1</a>
            </li>

            <!--Disabled Button-->
            <li class="pagination_button disabled" ng-if="pages[0]!=2 && total_pages>3">
                <a>...</a>
            </li>

            <!-- Display button list -->
            <li class="paginate_button" ng-repeat="page in pages" ng-class="{'active': page == page_no}">
                <a ng-click="searchResults(page_length*(page-1), page*page_length, page)">{{page}}</a>
            </li>

            <!--Disabled Button-->
            <li class="pagination_button disabled" ng-if="pages[pages.length-1]!=total_pages-1 && total_pages>3">
                <a>...</a>
            </li>
            <!--Last Button-->
            <li class="pagination_button" ng-if="total_pages>1" ng-class="{'active': page_no == total_pages}">
                <a ng-click="searchResults(page_length*(total_pages-1), page_length*total_pages, total_pages)">
                    {{total_pages}}
                </a>
            </li>
            <li id="datatable2_next" class="paginate_button next disabled" ng-show="page_no == total_pages || page_no > total_pages">
                <a>Next</a>
            </li>
            <li id="datatable2_next" class="paginate_button next" ng-hide="page_no == total_pages || page_no > total_pages">
                <a ng-click="searchResults(page_length*(page_no), page_length*(page_no+1), page_no+1)">Next</a>
            </li>
        </ul>
    </div>
</div>
